* {
    padding: 0;
    margin: 0;
}

.footer-style {
    background-color: #191825;
    color: white;
    font-weight: 500;
    margin-top: -19.8em;
    position: absolute;
}

.row {
    margin-left: 6.5em;
}

.nav-item {
    color: white;
}

.footer-email {
    margin-left: 45em;
    margin-top: -14.0em;
}

.section-style {
    margin-left: 1em;
    margin-top: -2px;
}

.getTouch-style {
    margin-left: -1.7em;
    margin-top: -3px;
}

.Subscribe {
    background-color: #A555EC;
}

.social-icon {
    margin-left: 25.5em;
    margin-top: -45px;
}

.bi-instagram {
    margin-left: 1.3em;
    color: #F15A59;
}

.bi-twitter {
    margin-left: 1.3em;
    color: #6C9BCF;
}