* {
  margin: 0;
  padding: 0;
}

.allProduct-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5em;
}

.allproduct-style {
  padding-bottom: 10em;
  margin-bottom: 19em;
  transform: translateY(-17px);
  background-color: #f5f5f5;
}

.card-footer-shop {
  display: flex;
  align-items: center;
  margin-top: 17px;
  justify-content: space-around;
}

.btn-shop {
  margin-left: 4.8em;
  margin-top: -1em;
  text-align: center;
  padding: 8px;
}

.card-text-shop {
  margin-left: -10px;
  font-size: 17px;
}

.line-color {
  color: blue;
}

.line-style {
  margin-left: 38em;
  width: 6em;
  padding-top: -5px;
}

.card-allproduct {
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 2px #937dc2;
}
